@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
    <body>
    <div class="card-body">
        @using (Html.BeginForm("Login", "Login"))
        {
            <div class="form-group">
            <label for="txtLogin">Login</label>
            <input class="form-control" type="text" id="txtLogin" name="login"/>
            <input type="submit" name="submit" class="btn btn-primary" value="Login"/>
            </div>
        }
    </div>
    </body>
</div>
</body>
</html>