@using Microsoft.AspNetCore.Http

<ul class="navbar-nav">
    @if (@Context.Session.GetString("login") != null && @Context.Session.GetString("login") != String.Empty)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Hello @Context.Session.GetString("login")!</a>
        </li>
        <li class="nav-item">
             <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LoginUser">Login</a>
        </li>
    }
</ul>